.app-modal{
    width: 100%;
    height: 100%;
    padding: 0 $appPadding $appPadding $appPadding;
    border-radius: $appPadding;
    box-sizing: border-box;
    background-color: transparent;
    background-color: pink;
    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 32px;
        overflow: hidden;
        user-select: none;
        cursor: move;
        &-close{
            cursor: pointer;
        }
    }
}